POSTGRES_DB=pixdb
POSTGRES_USER=pix
POSTGRES_PASSWORD=pix
POSTGRES_PORT=5432

REDIS_PORT=6379

KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8085
PIX_REQUESTED_PARTITIONS=3
PIX_DLQ_PARTITIONS=3

WIREMOCK_PORT=8089

PIX_API_PORT=8080
PIX_IDEMPOTENCY_TTL=24h
PIX_STATUS_CACHE_TTL=30s
PIX_PROCESSOR_MAX_PROCESSING_ATTEMPTS=3
PIX_PROCESSOR_CONCURRENCY=3
PIX_PROCESSOR_MAX_POLL_RECORDS=10

DD_API_KEY=dummy_key_for_local_dev
DD_SITE=datadoghq.com
DD_ENV=local
DD_VERSION=local
DD_LOGS_ENABLED=true
DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
DD_APM_ENABLED=true
OTEL_JAVA_AGENT_VERSION=2.16.0
